DATABASE_URL="file:./dev.db"

AUTH_SECRET=""
AUTH_URL="https://shoppix.squareweb.app"
NEXT_PUBLIC_APP_URL="https://shoppix.squareweb.app"

OWNER_EMAIL=""
NEXT_PUBLIC_OWNER_EMAIL=""

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_BOT_TOKEN=""
DISCORD_GUILD_ID=""
DISCORD_WEBHOOK_URL=""

STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER=""
SMTP_PASS=""
